@font-face {
    font-family: 'Mulish-ExtraLight';
    font-weight: 200;
    font-style: normal;
    src: local('Mulish-ExtraLight'),
        url('../fonts/Mulish-ExtraLight.woff2') format('woff2'),
        url('../fonts/Mulish-ExtraLight.woff') format('woff');
    font-display: swap;
}
