@import 'vars';
@import 'fonts';
@import 'mixins';


html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.container {
    width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    width: 1287px;
    padding: 0 10px;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

body {
    background-color: $bg;
    display: flex;
    flex-direction: column;
}

.os {
    @include flex-item-center;
    /* use clamp() */
    gap: 24px;

    &__link {
        display: inline-block;
        &:hover {
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.open {
    height: max-content;
}