@import 'vars';
@import 'fonts';

/* fonts */
@mixin hauora-800 {
    font-family: 'Hauora-ExtraBold';
    font-weight: 800;
}

@mixin hauora-700 {
    font-family: 'Hauora-Bold';
    font-weight: 700;
}

@mixin hauora-600 {
    font-family: 'Hauora-SemiBold';
    font-weight: 600;
}

@mixin hauora-400 {
    font-family: 'Hauora-Regular';
    font-weight: 400;
}

@mixin inter-800 {
    font-family: 'Inter-ExtraBold';
    font-weight: 800;
}

@mixin inter-700 {
    font-family: 'Inter-Bold';
    font-weight: 700;
}

@mixin golos-700 {
    font-family: 'GolosText-Bold';
    font-weight: 700;
}

/* flex */
@mixin flex-item-center {
    display: flex;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-space-between-center {
    @include flex-item-center;
    justify-content: space-between;
}

@mixin flex-center-center {
    @include flex-item-center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

/* header-btn */
@mixin header-bg {
    background-color: $grey-light;
    border-radius: 8px;
    border: 0.5px solid $white;
    box-shadow: 0px 4px 9px 0px $grey-medium;
    backdrop-filter: blur(4px);
    transition: all .2s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 9px 0px $accent;
        text-shadow: $accent 0px 0px 9px;
    }

    &:active {
        border: 0.5px solid $accent;
    }
}

/* gradient text */
@mixin gradient-text {
    background: linear-gradient(92deg, $white 29.24%, $grey-hard 131.64%);
    background-clip: text;
    color: transparent
}

/* gradient background text */
@mixin gradient-background-text {
    background: linear-gradient(92deg, $black-light 29.24%, $grey-hard 131.64%);
    background-clip: text;
    color: transparent;
}


@mixin text-color {
    color: $white;
    opacity: 0.8;
}

/* slider btn */
@mixin slider-btn {
    display: inline-block;
    @include hauora-700;
    /* use clamp() */
    font-size: clamp(12px, 0.83vw, 16px);
    line-height: clamp(14px, 0.93vw, 18px);
    padding: clamp(8px, 0.83vw, 16px) clamp(12px, 1.25vw, 24px);

    border-radius: clamp(6px, 0.625vw, 12px);
    box-shadow: 0px 8px 16px 0px $blue-black;
    background-color: $accent;
    color: $white;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: $blue;
    }
}

/* tips btn */
@mixin tips-btn {
    @include hauora-400;
    display: inline-block;
    /* use clamp() */
    font-size: 12px;
    line-height: 13px;
    color: $white;
    background-color: $blue-light;
    padding: 6px clamp(15px, 1.09vw, 21px);
    border-radius: clamp(18px, 1.92vw, 37px);
}

/* subscription btn */
@mixin subscription-btn {
    @include hauora-700;
    /* use clamp() */
    font-size: clamp(12px, 0.83vw, 16px);
    line-height: clamp(14px, 0.93vw, 18px);
    border-radius: clamp(33px, 3.43vw, 66px);
    padding: clamp(7px, 0.729vw, 14px) clamp(15px, 1.614vw, 31px);

    border: none;
    color: $white;
    background-color: $accent-light;
    box-shadow: 0px 4px 16px 0px $accent-medium;
    transition: all .15s ease-in-out;

    &:hover {
        background-color: $purple-ease;
        box-shadow: 0px 8px 16px 0px $blue-black;
    }
}

/* download btn */
@mixin download-apple-btn {
    display: inline-block;
    @include hauora-700;
    /* use clamp() */
    font-size: clamp(12px, 0.83vw, 16px);
    line-height: clamp(18px, 1.14vw, 22px);
    padding: clamp(10px, 0.729vw, 14px) 
        clamp(12px, 1.25vw, 24px) 
        clamp(10px, 0.729vw, 14px) 
        clamp(40px, 3.33vw, 64px);
    border-radius: clamp(8px, 0.625vw, 12px);

    color: $purple-light;
    background-color: $blue-ease;
    position: relative;
    transition: all .1s ease-in-out;

    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../images/apple-icon-download-purple.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: clamp(10px, 1.25vw, 24px);
        transform: translateY(-50%);
    }

    &:hover {
        color: $white;
        background-color: $purple-medium;

        &::after {
            background-image: url(../images/apple-icon-download-white.svg);
        }
    }
}

/* style description */
@mixin style-text {
    @include hauora-600;
    /* use clamp() */
    font-size: clamp(14px, 0.93vw, 18px);
    line-height: clamp(18px, 1.66vw, 32px);

    @include text-color;
}

/* style title */
@mixin style-title {
    @include inter-700;
    /* use clamp() */
    font-size: clamp(20px, 2.187vw, 42px);
    line-height: clamp(22px, 2.5vw, 48px);
    @include gradient-text;
}

/* style small title */
@mixin style-small-title {
    @include inter-700;
    color: $white;
    /* use clamp() */
    font-size: clamp(18px, 1.66vw, 32px);
    line-height: clamp(20px, 1.77vw, 34px);
}

/* style small text */
@mixin style-small-text {
    @include hauora-400;
    /* use clamp() */
    font-size: 12px;
    line-height: 18px;
    color: $grey;
}

/* style medium text */
@mixin style-medium-text {
    @include hauora-400;
    /* use clamp() */
    font-size: clamp(12px, 0.729vw, 14px);
    line-height: clamp(20px, 1.3vw, 25px);
    @include text-color;
}

/* subtitle box */
@mixin subtitle-box {
    @include hauora-600;
    font-size: clamp(16px, 1.04vw, 20px);
    line-height: clamp(18px, 1.145vw, 22px);
    color: $white;
}

@mixin text-box {
    @include hauora-400;
    font-size: clamp(12px, 0.83vw, 16px);
    line-height: clamp(18px, 1.14vw, 22px);
    @include text-color;
}

/* style background text */
@mixin style-background-text {
    @include gradient-background-text;
    @include golos-700;
    /* use clamp() */
    font-size: clamp(90px, 9.375vw, 180px);
    line-height: clamp(100px, 10.2vw, 196px);
}

@mixin style-title-item {
    @include inter-700;
    font-size: clamp(16px, 1.66vw, 32px);
    line-height: clamp(18px, 1.77vw, 34px);
    color: $white;
}

/* partner img box */
@mixin partner-img {
    @include flex-center-center;
    border-radius: 50%;
    background-color: $bg;
    box-shadow: 0px 4px 38px rgba($black, 0.25);
}