@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';
@import 'mixins';
@import 'libs';



/*
.container {
    width: clamp(30px, 1.875vw,36px);
    height: clamp(40px, 6.3vh, 68px)
}

    1920x1080

    расчет промежуточного значение clamp()
    30px минимально значение
    36px максимальное значение
    Нам нужно взять ширину екрана 1920 чтобы узнать сколько занимает 1 vw: 1920 / 100 = 19.2px это размер одного vw
    Потом берем максимально значение 36px / 19.2px чтобы узнать промежуточное значение 1.875vw

    Нам нужно взять высоту екрана 1080 чтобы узнать сколько занимает 1 vh: 1080 / 100 = 10.8px это размер одного vh
    Потом берем максимально значение 68px / 10.8px чтобы узнать промежуточное значение 6.3vh
*/

/* animation */
@keyframes header-bg {
    0% {
        background-position: 100vw;
    }

    50% {
        background-position: 150vw;
    }

    100% {
        background-position: 100vw;
    }
}



.header {

    &__top {
        @include flex-item-center;
        /* use clamp() */
        height: clamp(40px, 6.3vh, 68px);
        background: linear-gradient(267deg, $green-dark 36.58%, $blue-dark 80.91%);
        background-size: 150vw;
        animation: header-bg 7s ease-in-out infinite;
    }

    &__top-inner {
        @include flex-space-between-center;
        /* use clamp() */
        gap: 40px;
    }

    &__menu {
        @include flex-item-center;
        /* use clamp() */
        gap: 37px;
    }

    &__nav-items {
        @include flex-center-center;
        /* use clamp() */
        gap: 43px;

    }

    &__nav-link {
        @include hauora-600;
        /* use clamp() */
        font-size: 14px;
        line-height: 16px;


        color: $grey;
        transition: color .2s ease-in-out;

        &:hover {
            color: $white;
            text-shadow: $accent 0px 0px 9px;
        }

        &:active {
            color: $accent;
        }
    }

    /* color text last-child */
    &__nav-item {
        &:last-child {
            .header__nav-link {
                color: $white;
            }
        }
    }

    &__btn {
        @include flex-center-center;
        /* use clamp() */
        gap: 10px;
    }

    &__languages {
        @include flex-center-center;
        /* use clamp() */
        gap: 6px;
        padding: 7px 14px 7px 10px;

        @include header-bg;
    }

    &__languages-icon {
        /* use clamp() */
        width: 17px;
        height: 18px;
    }

    &__languages-name {
        @include hauora-700;
        /* use clamp() */
        font-size: 14px;
        line-height: 19px;

        color: $white;
        text-transform: uppercase;
    }

    &__well {
        @include flex-center-center;
        /* use clamp() */
        gap: 8px;

        /* use clamp() */
        padding: 4px 11px 4px 9px;

        @include header-bg;
    }

    &__well-icon {
        /* use clamp() */
        width: 20p;
        height: 20px;
    }

    &__well-name {
        @include hauora-700;
        /* use clamp() */
        font-size: 18px;
        line-height: 25px;

        color: $white;
    }

    /* header__content */
    &__content {
        /* use clamp() */
        height: 1240px;

        background: linear-gradient(358deg, #0C111C 9.12%, rgba(13, 25, 27, 0.40) 81.22%);

        background-image: url(../images/header-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
    }

    /* moon bg */
    &__content-wrapper {
        background-image: url(../images/moon-bg.png);
        background-repeat: no-repeat;
        /* use clamp() */
        background-position: right -68px;
        background-size: contain;
    }

    &__content-info-wrapper {
        @include flex-item-center;
        /* use clamp() */
        padding: 100px 0 87px;
    }

    &__content-info {
        @include flex-column;
        /* use clamp() */
        gap: 16px;
        margin-top: 28px;
    }

    &__content-title {
        /* use clamp() */
        width: 698px;

        @include inter-800;
        /* use clamp() */
        font-size: 56px;
        line-height: 61px;

        @include gradient-text;
    }

    &__content-text {
        /* use clamp() */
        width: 567px;

        @include style-text;
    }

    /* slider */
    &__content-slider-item {
        /* use clamp() */
        width: 350px;
        height: 460px;

        border-radius: 8px;
        background-color: $bg;
        transition: all .7s ease-in-out;

        position: relative;
    }

    &__content-container {
        /* use clamp() */
        height: 561px;
    }

    /* header proof of stake */
    &__option {
        /* use clamp() */
        padding: 32px;
        border-radius: 16px;
        border: 1px solid $grey-ultra;
        background-color: $black-light;
        backdrop-filter: blur(8.5px);
    }

    &__option-text {
        /* use clamp() */
        width: 418px;
    }

    &__option-inner {
        position: relative;

        &::before {
            content: 'Increase';
            position: absolute;
            /* use clamp() */
            top: 46%;
            left: 50%;

            transform: translateX(-50%);
            @include style-background-text;
        }
    }

    /* proof-of-stake page */
    &__content-option {
        /* use clamp() */
        padding: 32px 32px 76px;
        margin-bottom: 80px;

        @include flex-column;
        /* use clamp() */
        gap: 47px;
        border-radius: 16px;

        border: 1px solid $grey-ultra;
        background-color: $black-light;
        backdrop-filter: blur(8.5px);

        background-image: url(../images/option-decor-bg.svg);
        background-repeat: no-repeat;
        background-position: 15% bottom;
        background-size: auto;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/wave-bg.svg);
            /* use clamp() */
            width: 1439px;
            height: 313px;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    &__option-top {
        @include flex-space-between;
        /* use clamp() */
        gap: 61px;
    }

    &__option-bottom {
        @include flex-space-between;
        /* use clamp() */
        gap: 61px;
    }

    &__option-top-description {
        @include flex-column;
        /* use clamp() */
        gap: 16px
    }

    &__option-top-description-title {
        @include style-title;
        /* use clamp() */
        width: 380px;
    }

    &__option-top-description-text {
        @include style-text;
        width: 620px;
    }

    &__option-item {
        @include flex-column;
        /* use clamp() */
        gap: 16px;
        width: 286px;
    }

    &__option-item-box {
        @include flex-space-between;
        /* use clamp() */
        gap: 9px;
    }

    &__option-item-title {
        @include subtitle-box;
    }

    &__option-item-text {
        @include text-box;
    }

    &__option-item-title-decor {
        /* use clamp() */
        width: 42px;
        height: 42px;
        border-radius: 12px;
        padding: 9px;

        @include flex-center-center;
        background-color: $grey;
        box-shadow: -2px 15px 16px 0px rgba($black, 0.19);
    }



    &__slider-box {
        /* use clamp() */
        padding: 30px 50px 30px 30px;
        /* height dont good */
        height: 400px;
    }

    &__slider-subtitle {
        @include hauora-600;
        /* use clamp() */
        font-size: 18px;
        line-height: 32px;

        color: $white-grey;
    }

    &__slider-title {
        @include inter-700;
        /* use clamp() */
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 16px;

        color: $white;
    }

    &__slider-text {
        @include hauora-400;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 32px;

        color: $white;
    }

    &__slider-btn {
        @include slider-btn;
    }

    /* bg img slider item */

    &__global,
    &__reward,
    &__secret {
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    &__global {

        background-image: url(../images/slider-global-decor.png);
    }

    &__reward {
        background-image: url(../images/slider-reward-decor.png);
    }

    &__secret {
        background-image: url(../images/slider-secret-decor.png);
    }

}

/* slider */
.swiper-slide.header__content-slider-item.swiper-slide-active {
    transform: translateY(0);
    filter: blur(0);
}

.swiper-slide.header__content-slider-item,
.swiper-slide.header__content-slider-item.swiper-slide-next,
.swiper-slide.header__content-slider-item.swiper-slide-prev {
    /* use clamp() */
    transform: translateY(60px);
    filter: blur(2px);
}

.swiper-slide.header__content-slider-item.swiper-slide-next,
.swiper-slide.header__content-slider-item.swiper-slide-prev {
    opacity: .5;
}

.swiper-button-prev,
.swiper-button-next {
    /* use clamp() */
    width: 60px;
    height: 60px;
    background-color: $black-bg;
    border-radius: 50%;
    border: 1px solid $grey-ease;
    position: absolute;
    box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.59);
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-image: url(../images/arrow-left-white.svg);
    }

    &:active {
        border: 1px solid $accent;
        box-shadow: 0px 4px 21px 0px rgba($accent, 0.59);
    }


}

.swiper-button-prev {
    /* use clamp() */
    left: 43.5%;
    bottom: 21px;

    &::after {
        background-image: url(../images/arrow-left-white.svg);
    }
}

.swiper-button-next {
    /* use clamp() */
    right: 43.5%;
    bottom: 21px;

    &::after {
        background-image: url(../images/arrow-right-white.svg);
    }
}

.swiper-button-next.swiper-button-disabled {
    &::after {
        background-image: url(../images/arrow-right-grey.svg);
    }
}

.swiper-button-prev.swiper-button-disabled {
    &::after {
        background-image: url(../images/arrow-left-grey.svg);
    }
}




/* partners page */
.partners {
    /* use clamp() */
    height: 617px;
    padding: 95px 0 18px;

    background-color: $black-bg;
    position: relative;

    &::before {
        content: 'Партнеры';
        position: absolute;
        /* use clamp() */
        top: 96px;
        left: 0;

        @include style-background-text;
        text-transform: uppercase;
    }

    &__inner {
        @include flex-space-between;
    }

    &__info-title {
        /* use clamp() */
        padding: 72px 0 24px;

        @include style-title;
    }

    &__info-text {
        /* use clamp() */
        width: 567px;
        margin-bottom: 46px;

        @include style-text;
    }

    &__info-link-box {
        /* use clamp() */
        padding: 9px 16px 9px 13px;
        width: 493px;
        border-radius: 8px;

        background-color: $bg;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 37px;
            height: 37px;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            background-image: url(../images/swap-icon.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &__info-link-btn {
        @include tips-btn;
    }

    &__info-link-description {
        @include style-text;
    }


    &__imgs {
        /* use clamp() */
        width: 538px;
        height: 503px;

        position: relative;
    }

    &__img-google-box {
        position: absolute;
        /* use clamp() */
        left: 192px;
        top: 0;
        /* use clamp() */
        width: 105px;
        height: 105px;

        @include partner-img;
    }

    &__img-yahoo-box {
        position: absolute;
        /* use clamp() */
        right: 92px;
        top: 20px;
        /* use clamp() */
        width: 143px;
        height: 143px;

        @include partner-img;
    }

    &__img-wecar-box {
        position: absolute;
        /* use clamp() */
        left: 57px;
        top: 69px;
        /* use clamp() */
        width: 143px;
        height: 143px;

        @include partner-img;
    }

    &__img-nasdaq-box {
        position: absolute;
        /* use clamp() */
        left: 196px;
        top: 141px;
        /* use clamp() */
        width: 159px;
        height: 159px;

        @include partner-img;
    }

    &__img-binance-box {
        position: absolute;
        /* use clamp() */
        right: -34px;
        top: 107px;
        /* use clamp() */
        width: 181px;
        height: 181px;
    }

    &__img-xwc-box {
        position: absolute;
        /* use clamp() */
        left: 0;
        top: 212px;
        /* use clamp() */
        width: 105px;
        height: 105px;

        @include partner-img;
    }

    &__img-ods-box {
        position: absolute;
        /* use clamp() */
        left: 80px;
        top: 275px;
        /* use clamp() */
        width: 143px;
        height: 143px;

        @include partner-img;
    }

    &__img-ambev-box {
        position: absolute;
        /* use clamp() */
        left: 336px;
        top: 247px;
        /* use clamp() */
        width: 159px;
        height: 159px;

        @include partner-img;
    }

    &__img-yandex-box {
        position: absolute;
        /* use clamp() */
        left: 230px;
        top: 339px;
        /* use clamp() */
        width: 102px;
        height: 102px;

        @include partner-img;
    }

    /* decor */
    &__decor-big-box {
        position: absolute;
        /* use clamp() */
        left: 36px;
        bottom: 0;
    }

    &__decor-left-box {
        position: absolute;
        /* use clamp() */
        left: 77px;
        bottom: 69px;
    }

    &__decor-right-box {
        position: absolute;
        /* use clamp() */
        right: 43px;
        bottom: 70px;
    }
}


.wallet {
    /* use clamp() */
    padding: 84px 0;
    background-color: $black-bg;
    background-image: url(../images/wallet-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        @include flex-space-between;
        /* use clamp() */
        gap: 35px;
    }

    &__info {
        /* use clamp() */
        width: 420px;
    }

    &__info-title {
        /* use clamp() */
        margin-bottom: 16px;

        @include style-title;
    }

    &__info-description {
        /* use clamp() */
        margin-bottom: 40px;

        @include style-text;
    }

    &__info-os {
        /* use clamp() */
        margin-bottom: 32px;

    }

    &__download {
        @include download-apple-btn;
    }

    &__imgs {
        @include flex-item-center;
        position: relative;
    }

    &__img-ipad-box {
        /* use clamp() */
        width: 652px;
        height: 425px;

    }

    &__img-iphone-box {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
    }
}

/* ready */
.ready {
    background-color: $black-bg;
    /* use clamp() */
    padding: 128px 0px 60px;

    position: relative;

    &::before {
        content: 'Ready?';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include style-background-text;
    }

    &__description-box {
        /* use clamp() */
        margin-bottom: 49px;

        display: flex;
        justify-content: center;
    }

    &__description-inner {
        /* use clamp() */
        width: 543px;
        gap: 16px;

        @include flex-column;
        align-items: center;
    }

    &__description-title {
        @include style-title;
    }

    &__description-text {
        @include style-text;
    }

    /* decription */
    &__direction {
        /* use clamp() */
        margin-bottom: 35px;
        @include flex-space-between-center;
        gap: 24px;
    }

    &__direction-item {
        /* use clamp() */
        width: 351px;
        height: 257px;
        padding: 23px 28px 30px;
        border-radius: 8px;

        background-color: $bg;
        @include flex-column;
        justify-content: space-between;
    }

    &__direction-step1,
    &__direction-step2,
    &__direction-step3 {
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto;
    }

    &__direction-step1 {
        background-image: url(../images/step-1-bg.png);
    }

    &__direction-step2 {
        background-image: url(../images/step-2-bg.png);
    }

    &__direction-step3 {
        background-image: url(../images/step-3-bg.png);
    }

    &__direction-item-box {
        @include flex-item-center;
        /* use clamp() */
        gap: 8px;
        margin-bottom: 10px;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-color: $grey-ease-light;
            /* use clamp() */
            height: 1px;
            width: 250px;
            top: 50%;
            right: -28px;
        }
    }

    &__direction-item-number {
        @include hauora-800;
        /* use clamp() */
        font-size: 18px;
        line-height: 20px;

        color: $white;
    }

    &__direction-item-text {
        @include hauora-600;
        /* use clamp() */
        font-size: 18px;
        line-height: 32px;
        @include text-color;
    }

    &__direction-item-title {
        @include style-title-item;
    }

    &__direction-item-btn {
        @include slider-btn;
        width: fit-content;
        /* use clamp() */
        padding: 16px 32px;
    }
}

/* subscription */
.subscription {
    /* use clamp() */
    border-radius: 28px;
    padding: 75px 54px;

    background-color: rgba($blue-bg, .27);
    background-image: url(../images/subscriptiption-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        @include style-title;
        /* use clamp() */
        margin-bottom: 16px;
    }

    &__text {
        @include style-text;
        /* use clamp() */
        margin-bottom: 32px;
        width: 507px;
    }

    &__input-box {
        /* use clamp() */
        padding: 7px 12px 7px 31px;
        width: 661px;
        border-radius: 14px;

        border: 1px solid $grey-ultra;
        background-color: $grey-medium;
        @include flex-space-between-center;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        border: none;

        @include hauora-400;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;
        color: $white;
        outline: none;

        &::placeholder {
            @include hauora-400;
            /* use clamp() */
            font-size: 16px;
            line-height: 16px;
            color: $white;
        }
    }

    &__btn {
        @include subscription-btn;
    }
}

/* footer */
.footer {
    background-color: $bg;

    &__inner {
        /* use clamp() */
        padding: 50px 28px;

        display: flex;
        gap: 74px;
    }

    &__info {
        width: 375px;
    }

    &__info-logo-link {
        display: inline-block;
        /* use clamp() */
        margin-bottom: 17px;
    }

    &__os {
        /* use clamp() */
        margin-bottom: 28px;
    }

    &__info-title {
        @include gradient-text;
        @include inter-700;
        /* use clamp() */
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 22px;
    }

    &__info-box {
        @include flex-space-between-center;
        /* use clamp() */
        padding: 6px 5px 6px 24px;
        border: 1px solid $grey-ultra;
        background-color: $grey-ease-light;
        box-shadow: 0px 4px 41px 0px rgba($black, 0.13);
        backdrop-filter: blur(2px);
        /* use clamp() */
        border-radius: 8px;
        margin-bottom: 18px;
    }

    &__info-input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;

        @include hauora-400;
        /* use clamp() */
        font-size: 14px;
        line-height: 14px;
        color: $white;

        &::placeholder {
            @include hauora-400;
            /* use clamp() */
            font-size: 14px;
            line-height: 14px;
            color: $white;
        }
    }

    &__info-link {
        @include hauora-700;
        /* use clamp() */
        font-size: 12px;
        line-height: 12px;
        padding: 8px 21px;
        border-radius: 66px;

        color: $white;
        background-color: $accent;
        box-shadow: 0px 4px 16px 0px $blue-deep;
        transition: all .15s ease-in-out;

        &:hover {
            background-color: $blue;
        }
    }

    &__info-text {
        @include hauora-400;
        /* use clamp() */
        font-size: 12px;
        line-height: 18px;

        color: $grey-ultra-ease;
    }

    &__menu {
        display: flex;
        /* use clamp() */
        gap: 47px;
    }

    &__menu-inner {
        /* use clamp() */
        width: 170px;
    }

    &__menu-title {
        @include hauora-800;
        /* use clamp() */
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 32px;

        color: $white;
    }

    &__menu-items {
        @include flex-column;
        /* use clamp() */
        gap: 18px;
    }

    &__menu-link {
        @include hauora-400;
        /* use clamp() */
        font-size: 14px;
        line-height: 15px;

        color: $grey-ultra-ease;
    }

    &__copy {
        /* use clamp() */
        padding: 16px 0 20px;

        border-top: 1px solid $black-bg;
        @include flex-space-between-center;
    }

    &__copy-info,
    &__author {
        @include hauora-400;
        /* use clamp() */
        font-size: 12px;
        line-height: 12px;

        color: $white;
        opacity: .8;
    }
}


.reward {
    /* use clamp() */
    height: 1007px;
    padding: 110px 0 79px;

    background-image: url(../images/reward-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        gap: 75px;
        margin-bottom: 56px;
    }

    &__info {
        /* use clamp() */
        padding-top: 78px;
        width: 495px;
    }

    &__info-title {
        @include style-title;
        /* use clamp() */
        margin-bottom: 16px;
    }

    &__info-text {
        @include style-text;
        /* use clamp() */
        margin-bottom: 27px;
    }

    &__price {
        /* use clamp() */
        width: 444px;
    }

    &__info-description {
        /* use clamp() */
        width: 354px;
        margin-bottom: 19px;

        color: $grey;
        @include hauora-400;

        /* use clamp() */
        font-size: 12px;
        line-height: 18px;
    }

    &__info-btn {
        /* use clamp() */
        padding: 6px 19px;
        border-radius: 37px;

        background-color: $blue-light;
        @include hauora-400;
        /* use clamp() */
        font-size: 12px;
        line-height: 14px;

        color: $white;
        text-transform: uppercase;
    }

    &__price-total {
        /* use clamp() */
        padding: 29px 35px;

        @include flex-column;
        gap: 3px;
        border: 1px solid $grey-light;
        /* use clamp() */
        border-radius: 8px;
        box-shadow: 0px 4px 59px 0px rgba($black, .51);
        backdrop-filter: blur(15.5px);
    }

    &__price-total-title {
        @include hauora-400;
        @include text-color;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;
    }

    &__price-total-number {
        @include inter-700;
        /* use clamp() */
        font-size: 42px;
        line-height: 43px;

        color: $white;
    }

    &__price-precent {
        /* use clamp() */
        padding: 16px 0 18px;

        @include hauora-700;
        /* use clamp() */
        font-size: 16px;
        line-height: 18px;
        color: $white;
        text-align: right;
    }

    &__price-statistics {
        /* use clamp() */
        padding: 25px 32px 39px;
        border-radius: 8px;

        background-color: $black-medium;
        box-shadow: 0px 4px 59px 0px rgba($black, 0.51);
        backdrop-filter: blur(15.5px);

        @include flex-column;
        /* use clamp() */
        gap: 23px;
    }

    &__price-statistics-item {
        @include flex-space-between-center;
        /* use clamp() */
        gap: 10px;
        padding-bottom: 16px;

        border-bottom: 1px solid $grey-light;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__price-statistics-title {
        @include hauora-400;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;

        color: $white;
    }

    &__price-statistics-number {
        @include hauora-800;
        /* use clamp() */
        font-size: 20px;
        line-height: 22px;

        color: transparent;
        background: linear-gradient(150deg, $accent 36.58%, $purple-ease 131.64%);
        background-clip: text;
    }

    /* masternodes */
    &__masternodes {
        @include flex-space-between;
        /* use clamp() */
        gap: 30px;
    }

    &__masternodes-item {
        /* use clamp() */
        width: 540px;
        padding: 48px 37px;
        border-radius: 16px;
        border: 1px solid $grey-ultra;
        background-color: $black-light;
        backdrop-filter: blur(8.5px);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            /* use clamp() */
            width: 372px;
            height: 199px;
            background-image: url(../images/shadow-blue-decor-bg.svg);
        }
    }

    &__cold-item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/cold-stake-bg.png);
            width: 191px;
            height: 254px;
            right: 0;
            bottom: 0;
            background-image: url(../images/cold-stake-bg.png);
        }
    }

    &__masternode-item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 270px;
            height: 253px;
            right: 0;
            bottom: 0;
            background-image: url(../images/masternode-stake-bg.png);
        }
    }

    &__masternodes-item-subtitle {
        @include hauora-600;
        @include text-color;
        /* use clamp() */
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 6px;
    }

    &__masternodes-item-title {
        @include style-small-title;
        margin-bottom: 16px;
    }

    &__masternodes-item-text {
        /* use clamp() */
        width: 332px;
        @include hauora-400;
        @include text-color;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 24px;
    }

    &__masternodes-item-btn {
        display: inline-block;
        @include hauora-700;
        /* use clamp() */
        font-size: 16px;
        line-height: 16px;
        padding: 14px 24px 14px 64px;
        border-radius: 12px;

        color: $white;
        background-color: $accent;
        box-shadow: 0px 4px 16px 0px $blue-deep;
        transition: all .15s ease-in-out;
        position: relative;

        &:hover {
            background-color: $purple-ease;
        }

        &::before {
            content: '';
            position: absolute;
            /* use clamp() */
            width: 24px;
            height: 24px;
            top: 50%;
            left: 24px;

            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__masternodes-btn-cold {
        &::before {
            background-image: url(../images/cold-stake-btn-icon.svg);
        }
    }

    &__masternodes-btn-masternod {
        &::before {
            background-image: url(../images/masternode-stake-btn-icon.svg);
        }
    }
}

.doc {
    /* use clamp() */
    padding: 50px 0 100px;

    background-color: $black-bg;

    &__inner {
        @include flex-column;
        align-items: center;
        /* use clamp() */
        gap: 66px;
    }

    &__description {
        @include flex-column;
        align-items: center;
        /* use clamp() */
        gap: 16px;
    }

    &__description-title {
        @include style-title;
    }

    &__description-text {
        @include hauora-600;
        @include text-color;
        text-align: center;
        /* use clamp() */
        font-size: 18px;
        line-height: 32px;
        width: 492px;
    }

    &__items {
        @include flex-space-between-center;
        /* use clamp() */
        gap: 44px;
    }

    &__item {
        background-color: $bg;
        /* use clamp() */
        width: 365px;
        border-radius: 8px;
        padding: 33px 28px 23px;

        border: 1px solid transparent;
        transition: all .15s ease-in-out;
        position: relative;

        &:hover {
            border: 1px solid $grey-light-ease;

            &::before {
                background-image: url(../images/doc-item-bg.svg);
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 122px;
            height: 116px;
            right: 0;
            bottom: 0;
        }
    }

    &__item-title {
        /* use clamp() */
        width: 220px;
        margin-bottom: 14px;
        @include style-small-title
    }

    &__item-text {
        @include style-medium-text;
        /* use clamp() */
        margin-bottom: 27px;
    }

    &__item-link {
        @include style-medium-text;
        text-decoration: underline;
        /* use clamp() */
        padding: 3px 45px 3px 0;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            /* use clamp() */
            width: 24px;
            height: 24px;
            background-image: url(../images/doc-link-icon.svg);
        }
    }
}

.faq {
    background-color: $black-bg;
    /* use clamp() */
    padding: 61px 0 49px;

    &__inner {
        @include flex-space-between;
        /* use clamp() */
        gap: 17px;
    }

    &__categories-title {
        /* use clamp() */
        width: 443px;
        margin-bottom: 34px;

        @include style-title;
    }

    &__categories-description {
        @include hauora-400;
        /* use clamp() */
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 22px;

        color: $grey;
    }

    &__categories-items {
        @include flex-column;
        /* use clamp() */
        gap: 10px;
    }

    &__categories-item {
        @include hauora-700;
        /* use clamp() */
        font-size: 16px;
        line-height: 18px;
        padding: 23px 35px 22px 26px;
        border-radius: 8px;
        width: 365px;

        color: $white;
        cursor: pointer;

        transition: all .2s ease-in-out;
        position: relative;


        &::after {
            content: '';
            position: absolute;
            /* use clamp() */
            top: 50%;
            right: 13px;
            transform: translateY(-50%);
            /* use clamp() */
            width: 9px;
            height: 7px;
            border: 1px solid $grey;
            border-radius: 50%;
        }

        &--active {
            background-color: $bg;

            &::after {
                background-color: $white;
                border: 1px solid transparent;
            }
        }
    }

    &__questions-finance,
    &__questions-start,
    &__questions-licenses,
    &__questions-instructions {
        /* use clamp() */
        width: 665px;
        padding: 20px 33px 35px;
        border-radius: 8px;

        height: fit-content;

        background-color: $black-medium;
        box-shadow: 0px 4px 59px 0px rgba($black, 0.51);
        backdrop-filter: blur(15.5px);
        /* use clamp() */
        gap: 16px;
    }

    &__questions-finance-box {
        border-bottom: 1px solid $grey-light;
        cursor: pointer;

        &:last-child {
            border: none;
        }
    }

    &__question-finance-title {

        @include hauora-700;
        /* use clamp() */
        font-size: 16px;
        line-height: 18px;
        padding: 24px 9px 16px 9px;
        color: $white;
        transition: all .15s ease-in-out;

        &.open {
            color: $accent-light;
        }
    }

    &__question-finance-text {
        @include text-box;
        /* use clamp() */
        padding: 16px 0 16px;
        transition: all .5s ease;
    }

    &__question-finance-content {
        height: 0;
        transition: all 2s ease;
        overflow: hidden;

        &.open {
            height: max-content;
        }
    }
}

.proof-subscription {
    background-color: $black-bg;
    /* use clamp() */
    padding: 135px 0 80px;
}