$bg: #151822;
$black: #000;
$black-bg: #0D111B;
$black-light: rgba(255, 255, 255, 0.05);
$black-medium: rgba(21, 24, 34, 0.30);

$accent: #1d9a6d;
$accent-light: #279D88;
$accent-medium: rgba(0, 255, 163, 0.26);
$accent-hard: rgba(0, 255, 163, 0.34);

$green-dark: rgba(0, 255, 163, 0.12);

$purple-light: #8886FF;
$purple-ease: #5653FF;
$purple-medium: rgba(98, 127, 227, 0.70);
$purple: #8B008B;

$grey: rgba(255, 255, 255, 0.42);
$grey-ultra-ease: #ADADAD;
$grey-light-ease: rgba(255, 255, 255, 0.23);
$grey-ultra: rgba(255, 255, 255, 0.28);
$grey-ease: rgba(255, 255, 255, 0.11);
$grey-ease-light: rgba(255, 255, 255, 0.10);
$grey-light: rgba(255, 255, 255, 0.15);
$grey-medium: rgba(176, 176, 176, 0.10);
$grey-hard: rgba(176, 250, 255, 0.00);

$white: #fff;
$white-grey: rgba(#fff, .8);

$blue: #5653FF;
$blue-bg: #13103D;
$blue-ease: rgba(98, 127, 227, 0.15);
$blue-light: #1A204A;
$blue-medium: #13103D;
$blue-black: rgba(75, 72, 241, 0.19);
$blue-deep: rgba(75, 72, 241, 0.41);
$blue-dark: rgba(31, 26, 255, 0.20);




/*
%mulish-200 {
    font-family: 'Mulish-ExtraLight', sans-serif;
    font-weight: 200;
}
*/

/*
.container {
    width: clamp(30px, 1.875vw,36px);
    height: clamp(40px, 6.3vh, 68px)
}

    1920x1080

    расчет промежуточного значение clamp()
    30px минимально значение
    36px максимальное значение
    Нам нужно взять ширину екрана 1920 чтобы узнать сколько занимает 1 vw: 1920 / 100 = 19.2px это размер одного vw
    Потом берем максимально значение 36px / 19.2px чтобы узнать промежуточное значение 1.875vw

    Нам нужно взять высоту екрана 1080 чтобы узнать сколько занимает 1 vh: 1080 / 100 = 10.8px это размер одного vh
    Потом берем максимально значение 68px / 10.8px чтобы узнать промежуточное значение 6.3vh
*/